/* Общие стили */

body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;

  background-color: #fff;
}

a,
a:visited {
  text-decoration: none;
}


/* Кнопки */

.button {
  font-family: inherit;
  font-size: inherit;

  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  border: none;

  color: #fff;
  background-color: #fb565a;
}

.button:hover {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.button a:active {
  opacity: 30%;
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover {
  background-color: #00bc6c;
}

.button-green:active {
  background-color: #00aa62;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.button-yellow {
  background-color: #efc84a;
}

.button-yellow:hover {
  background-color: #eab534;
}

.button-yellow:active {
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}


/* Горизонтальная линия */

.horizontal-rule {
  width: 1160px;
  height: 2px;

  background-color: #eee;

  margin: 0 auto;
}


/* Вертикальная линия */

.vertical-rule {
  width: 2px;
  height: 52px;

  background-color: #eee;
}


/* Класс для доступного скрытия */

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Шапка */

.header {
	background-color: #eee;
}


/* Навигация */

.site-navigation ul {
  list-style: none;

  margin-bottom: 0px;
  margin-top: 0px;
}

.navigation-item {
  font-family: 'Roboto Medium', Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-transform: uppercase;

  color: #000;
}

.navigation-item:hover,
.navigation-item:focus {
  color: #fb565a;
}

.navigation-item:active {
  color: #000;
  opacity: 30%;
}

.navigation-current {
  border-bottom: 2px solid;
  border-bottom-color: #fb565a;

  margin-bottom: 12px;
}

.site-logo {
  border-bottom: none;
  margin-bottom: 0;
}

.site-logo:hover {
  border-bottom: none;
  opacity: 80%;
}

.site-logo:active {
  border-bottom: none;
  opacity: 30%;
}

.link-cart::before {
  content: url(../img/svg/cart-icon.svg);
  margin-right: 26px;
}


/* Секция со слайдерами */

.slider-section {
  background-color: #eee;
}

.slider-section h3 {
  font-family: 'Roboto Medium', Arial, Helvetica, sans-serif;
  font-size: 55px;

  margin-bottom: 39px;
}

.slider-section p {
  font-family: 'Roboto Regular', Arial, Helvetica, sans-serif;
  font-size: 16px;

  color: #283136;

  margin-bottom: 42px;
}

.slider-switch-btn {
  width: 18px;
  height: 18px;

  border-radius: 50%;
  border: none;
}

.slider-switch-btn:disabled {
  background-image: url(../img/svg/circle.svg);
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: center;
}

.slide {
  background-repeat: no-repeat;
  background-position: right;
}

.first-slide {
  background-image: url(../img/slide1.png);
}

.first-slide h3 {
  margin-top: 0px;
} 


.second-slide {
  background-image: url(../img/slide2.png);
}

.third-slide {
  background-image: url(../img/slide3.png);
}


/* Секция преимуществ */

.advantages-section {
  background-color: #fff;

  padding-top: 80px;
}

.advantages-section ul {
  list-style: none;
}

.advantages-section h3 {
  font-family: 'Roboto Bold', Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-transform: uppercase;

  margin-bottom: 26px;
}

.advantages-section p {
  font-family: 'Roboto Regular', Arial, Helvetica, sans-serif;
  
  color: #283136;

  margin-bottom: 35px;
}

.advantages-img {
  margin-bottom: 30px;
}


/* О нас */

.about-us-section p {
  font-family: 'Roboto Regular', Arial, Helvetica, sans-serif;

  color: #283136;
}

.about-us-section .text-big {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 45px;
  font-weight: 500;

  margin-bottom: 19px;

  color: #000;
}

.about-us-section .text-bold {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 700;

  text-transform: uppercase;

  color: #000;
}

.redline-bullets li {
  list-style-image: url(../img/redline.png);
}

.about-us-list {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;

  list-style: none;
}

.big-numbers {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 45px;
  font-weight: 700;
}

.second-studio {
  background-image: url(../img/nerds-illustration.png);
  background-position: top;
  background-repeat: no-repeat;
}


/* Секция клиенты */

.clients-section li {
  list-style: none;
}

.clients-logo {
  opacity: 0.2;
}

.clients-logo:hover {
  opacity: 1;
}

.clients-logo:active {
  opacity: 0.1;
}


/* Контакты */

.contacts-section {
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
}

.contacts-container {
  background-color: #fff;
  width: 319px;
}

.contacts-section p {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;

  color: #666666;

}

.contacts-section .company-name {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;

  color: #000;

  text-transform: uppercase;
}


/* Подвал */

.socials li {
  list-style: none;
}

.socials-item {
  width: 80px;
  height: 80px;

  text-align: center;

  border-radius: 50%;

  background-color: #e1e1e1;
}

.socials-item:hover {
  background-color: #e74246;
}

.socials-item:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.socials-vk {
  content: url(../img/svg/vk-icon.svg);
  margin-top: 32px;
}

.socials-fb {
  content: url(../img/svg/fb-icon.svg);
  margin-top: 28px;
}

.socials-inst {
  content: url(../img/svg/insta-icon.svg);
  margin-top: 29px;
}

.text-be-friend {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 700;

  color: #000;
}

.text-discount {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;

  color: #444444;
}


/* Обратная связь */

.section-write-us fieldset {
  border: none;
}

.section-write-us h2 {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 45px;
  font-weight: 500;
}

.section-write-us label {
  font-family: inherit;
  font-weight: 700;
}

.input {
  width: 360px;
  height: 50px;

  font-family: inherit;
  font-weight: 400;

  border: 2px solid #d7dcde;
}

.letter-input {
  width: 760px;
  height: 118px;
}

.close-button {
  background: transparent;
  border: none;
}


/* Каталог */

.catalog-heading {
	font-family: inherit;
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;

	text-align: center;

	color: #000;
}
