/* Общие стили */

body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;

  background-color: #fff;
}

a,
a:visited {
  text-decoration: none;
}

a.disabled-link {
	pointer-events: none;
	cursor: default;
}


/* Кнопки */

.button {
  font-family: inherit;
  font-size: inherit;
	font-weight: 500;

  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  border: none;

  color: #fff;
  background-color: #fb565a;

	display: flex;
	align-items: center;
	justify-content: center;
}

.button:hover {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.button a:active {
  opacity: 30%;
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover {
  background-color: #00bc6c;
}

.button-green:active {
  background-color: #00aa62;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.button-yellow {
  background-color: #efc84a;
}

.button-yellow:hover {
  background-color: #eab534;
}

.button-yellow:active {
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}


/* Горизонтальная линия */

.horizontal-rule {
  width: 1160px;
  height: 2px;

  background-color: #eee;

  margin: 0 auto;
}


/* Вертикальная линия */

.vertical-rule {
  width: 2px;
  height: 52px;

  background-color: #eee;
}


/* Класс для доступного скрытия */

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Шапка */

.header {
	background-color: #eee;
	min-height: 132px;
	padding-top: 49px;

	border-bottom: 1px solid transparent;
}


/* Навигация */

.site-navigation ul {
  list-style: none;
}

.navigation-item {
  font-family: inherit;
	font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;

  color: #000;
}

.navigation-item:hover,
.navigation-item:focus {
  color: #fb565a;
}

.navigation-item:active {
  color: #000;
  opacity: 30%;
}

.navigation-current {
  border-bottom: 2px solid;
  border-bottom-color: #fb565a;

  margin-bottom: 12px;
}

.site-logo {
  border-bottom: none;
  margin-bottom: 0;
}

.site-logo:hover {
  border-bottom: none;
  opacity: 80%;
}

.site-logo:active {
  border-bottom: none;
  opacity: 30%;
}

.link-cart::before {
  content: url(../img/svg/cart-icon.svg);
  margin-right: 26px;
}


/* Секция со слайдерами */

.slider-section {
  background-color: #eee;

	margin-bottom: 80px;
}

.slider-section h3 {
  font-family: inherit;
	font-weight: 500;
  font-size: 55px;

  margin-bottom: 39px;
}

.slider-section p {
  font-family: inherit;
	font-weight: 400;
  font-size: 16px;

  color: #283136;

  margin-bottom: 42px;
}

.slider-link {
	max-width: 240px;
	min-height: 50px;
}

.slider-switch-btn {
  width: 18px;
  height: 18px;

  border-radius: 50%;
  border: none;
}

.slider-switch-btn:disabled {
  background-image: url(../img/svg/circle.svg);
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: center;
}

.slide {
  background-repeat: no-repeat;
  background-position: right;
}

.first-slide {
  background-image: url(../img/slide1.png);
}

.first-slide h3 {
  margin-top: 0px;
} 


.second-slide {
  background-image: url(../img/slide2.png);
}

.third-slide {
  background-image: url(../img/slide3.png);
}


/* Секция преимуществ */

.advantages-section {
  background-color: #fff;
	margin-bottom: 80px;
}

.advantages-section ul {
  list-style: none;
}

.advantages-section li {
	display: inline-block;
}


.advantages-section h3 {
  font-family: inherit;
	font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;

  margin-bottom: 26px;
}

.advantages-section p {
  font-family: inherit;
	font-weight: 400;
  
  color: #283136;

  margin-bottom: 35px;
}

.advantages-img {
  margin-bottom: 30px;
}


/* О нас */

.about-us-section p {
  font-family: inherit;
	font-weight: 400;

  color: #283136;
}

.about-us-section .text-big {
  font-family: inherit;
  font-size: 45px;
  font-weight: 500;

  color: #000;
}

.about-us-section .text-bold {
  font-family: inherit;
  font-weight: 700;

  text-transform: uppercase;

  color: #000;
}

.redline-bullets li {
  list-style-image: url(../img/redline.png);
}

.about-us-list {
  font-family: inherit;

  list-style: none;
}

.big-numbers {
  font-family: inherit;
  font-size: 45px;
  font-weight: 700;
}

.second-studio {
  background-image: url(../img/nerds-illustration.png);
  background-position: top;
  background-repeat: no-repeat;
}


/* Секция клиенты */

.clients-section li {
  list-style: none;
	display: inline-block;
}

.clients-logo {
  opacity: 0.2;
}

.clients-logo:hover {
  opacity: 1;
}

.clients-logo:active {
  opacity: 0.1;
}


/* Контакты */

.contacts-section {
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
}

.contacts-container {
  background-color: #fff;
  width: 319px;
}

.contacts-section p {
  font-family: inherit;
  font-weight: 400;

  color: #666666;

}

.contacts-section .company-name {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;

  color: #000;

  text-transform: uppercase;
}


/* Подвал */

.socials li {
  list-style: none;
	display: inline-block;
}

.socials-item {
  width: 80px;
  height: 80px;

  text-align: center;

  border-radius: 50%;

  background-color: #e1e1e1;
}

.socials-item:hover {
  background-color: #e74246;
}

.socials-item:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.socials-vk {
  content: url(../img/svg/vk-icon.svg);
  margin-top: 32px;
}

.socials-fb {
  content: url(../img/svg/fb-icon.svg);
  margin-top: 28px;
}

.socials-inst {
  content: url(../img/svg/insta-icon.svg);
  margin-top: 29px;
}

.text-be-friend {
  font-family: inherit;
  font-size: 36px;
  font-weight: 700;

  color: #000;
}

.text-discount {
  font-family: inherit;
  font-weight: 400;

  color: #444444;
}


/* Обратная связь */

.section-write-us fieldset {
  border: none;
}

.section-write-us h2 {
  font-family: inherit;
  font-size: 45px;
  font-weight: 500;
}

.section-write-us label {
  font-family: inherit;
  font-weight: 700;
}

.input {
  width: 360px;
  height: 50px;

  font-family: inherit;
  font-weight: 400;

  border: 2px solid #d7dcde;
}

.letter-input {
  width: 760px;
  height: 118px;
}

.close-button {
  background: transparent;
  border: none;
}


/* Каталог */

.catalog-heading {
	font-family: inherit;
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;

	text-align: center;
	margin-top: 82px;
	margin-bottom: 115px;

	color: #000;
}


/* Фильтры */

.filters fieldset {
	border: none;
}

.input-range-div {
	width: 261px;
	height: 81px;

	text-align: center;

	background-color: #eee;

	border-radius: 4px;
}

.price-range {
	/* Обнуление стилей элемента */
	-webkit-appearance: none;

	width: 219px;
	height: 2px;

	background-color: #d7dcde;
}

/* Стилизация для WebKit/Blink */
.price-range::-webkit-slider-thumb {
	-webkit-appearance: none;

	width: 20px;
	height: 22px;
	border: none;

	background-image: url("../img/svg/filter-button.svg");
	background-repeat: no-repeat;
}

/* Стилизация для Firefox */
.price-range::-moz-range-thumb {
	width: 20px;
	height: 22px;
	border: none;

	background-image: url("../img/svg/filter-button.svg");
	background-repeat: no-repeat;
}

.price-range::-moz-range-track {
	background:-moz-linear-gradient(left, #00ca74 0%, #00ca74 75%, #d7dcde 75%, #d7dcde 100%);
}

/* Стилизация для IE */
.price-range::-ms-thumb {
	width: 20px;
	height: 22px;
	border: none;

	background-image: url("../img/svg/filter-button.svg");
	background-repeat: no-repeat;
}

.filters legend,
.sort-heading {
	font-family: inherit;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}

.filters label {
	font-family: inherit;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
}

.filters li {
	list-style: none;
}

.input-price {
	height: 38px;
	width: 80px;

	text-align: center;

	background-color: #eee;

	border: none;
	border-radius: 2px;
}

/* Прячет стрелки на input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.price-fieldset label {
	font-family: inherit;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;

	color: #283136;
	text-transform: uppercase;
}


/* Сортировка */

.section-sort a {
	font-family: inherit;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;

	color: #000;
}
.section-sort li {
	list-style: none;
	display: inline-block;
}

.filters-btn {
	color: #000;
	background-color: #eee;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
}

.filters-btn:hover {
	background-color: #dfdfdf;
}

.filters-btn:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #d5d5d5;
}


/* Каталог шаблонов */

.section-catalog li {
	list-style: none;
	display: inline-block;
	margin: 10px;
}

.product-heading,
.product-heading a {
	font-family: inherit;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
}

.product-heading:hover,
.product-heading a:hover {
	color: #fb565a;
} 

.product-heading:active,
.product-heading a:active {
	color: #000;
	opacity: 0.3;
} 

.product-description {
	font-family: inherit;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #666666;
}

.catalog-btn {
	font-family: inherit;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;

	color: #000;
	background-color: #eee;
}

.catalog-btn:hover {
	background-color: #dfdfdf;
}

.catalog-btn:active {
	background-color: #d5d5d5;
	color: rgba(0, 0, 0, 0.3);
}


/* Сетка */
/* Шапка */
.container {
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
}

.main-navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	}

.cart {
	margin-left: auto;
}

.main-logo {
	margin-right: auto;
}

.user-navigation {
	width: 438px;
	display: flex;
	justify-content: space-between;
}


/* Слайдеры */

.slide-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;

	min-height: 413px;
}


/* Преимущества */

.advantages-list {
	display: flex;
	justify-content: space-between;
}


/* О нас */

.about-us-section {
	display: flex;
	justify-content: space-between;
	align-items: stretch;

	min-height: 400px;
	margin-top: 80px;
	margin-bottom: 75px;
}

.first-studio {
	flex-grow: 7;
}

.second-studio {
	flex-grow: 3;

	display: flex;
	align-items: flex-end;
}

.about-us-list-wrapper {
	display: flex;
	justify-content: space-between;

	padding: 0;
}

.about-us-list-item {
	max-width: 105px;
}
