/* Общие стили */

body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;

  background-color: #fff;
}

a,
a:visited {
  text-decoration: none;
}

a.disabled-link {
	pointer-events: none;
	cursor: default;
}

:focus {
	outline: 2px dashed #fb565a;
}


/* Кнопки */

.button {
  font-family: inherit;
  font-size: inherit;
	font-weight: 500;

  text-transform: uppercase;
  vertical-align: middle;

  border: none;

  color: #fff;
  background-color: #fb565a;

	display: flex;
	align-items: center;
	justify-content: center;
}

.button:hover {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.button a:active {
  opacity: 30%;
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover {
  background-color: #00bc6c;
}

.button-green:active {
  background-color: #00aa62;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.button-yellow {
  background-color: #efc84a;
}

.button-yellow:hover {
  background-color: #eab534;
}

.button-yellow:active {
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}


/* Горизонтальная линия */

.horizontal-rule {
  width: 1160px;
  height: 2px;

  background-color: #eee;

  margin: 0 auto;
}


/* Вертикальная линия */

.vertical-rule {
  width: 2px;
  height: 52px;

  background-color: #eee;
}


/* Класс для доступного скрытия */

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Шапка */

.header {
	background-color: #eee;
	padding-top: 40px;

	border-bottom: 1px solid transparent;

	box-sizing: border-box;
	height: 134px;
}


/* Навигация */

.site-navigation {
  margin-left: auto;
  margin-right: auto;
  width: 1240px;
}

.site-navigation ul {
  list-style: none;
}

.navigation-item {
  font-family: inherit;
	font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;

  color: #000;
}

.navigation-item:hover,
.navigation-item:focus {
  color: #fb565a;
}

.navigation-item:active {
  color: #000;
  opacity: 30%;
}

.navigation-current {
  border-bottom: 2px solid;
  border-bottom-color: #fb565a;

	padding-bottom: 7px;
  margin-bottom: 12px;
}

.site-logo {
  border-bottom: none;
  margin-bottom: 0;
}

.site-logo:hover {
  border-bottom: none;
  opacity: 80%;
}

.site-logo:active {
  border-bottom: none;
  opacity: 30%;
}

.link-cart::before {
  content: url(../img/svg/cart-icon.svg);
  margin-right: 26px;
}


/* Секция со слайдерами */

.slider-section {
  background-color: #eee;

	margin-bottom: 80px;
	border-top: 1px solid transparent;
	height: 409px;
}

.slider-section-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1160px;
	position: relative;
}

.slider-section h3 {
  font-family: inherit;
	font-weight: 500;
  font-size: 55px;
	line-height: 55px;
	margin-top: 55px;
	margin-bottom: 0;
}

.slider-section p {
  font-family: inherit;
	font-weight: 400;
  font-size: 16px;

  color: #283136;
	line-height: 24px;
	margin-bottom: 30px;
}

.slider-link {
	max-width: 240px;
	min-height: 50px;
	margin-bottom: 85px;
	border-radius: 3px;
}

.slider-switch-btn {
  width: 18px;
  height: 18px;
	background-color: #fff;

  border-radius: 50%;
  border: none;
}

.slider-btn-wrapper {
	position: absolute;
	top: 295px;
	left: 535px;
	width: 90px;

	display: flex;
	justify-content: space-between;

}

.slider-switch-btn:disabled {
  background-image: url(../img/svg/circle.svg);
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: center;
}

.slide {
	background-repeat: no-repeat;
	background-position: top -3px right 31px;
}

.first-slide {
  background-image: url(../img/slide1.png);
}

.second-slide {
  background-image: url(../img/slide2.png);
}

.third-slide {
  background-image: url(../img/slide3.png);
}


/* Секция преимуществ */

.advantages-section {
  background-color: #fff;
	margin-bottom: 45px;
}

.advantages-section ul {
  list-style: none;
}

.advantages-section li {
	display: inline-block;
}

.advantages.advantages-present {
	margin-right: 20px;
}

.advantages-section h3 {
  font-family: inherit;
	font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
	margin-bottom: 0;
}

.advantages-list li:last-child {
  margin-left: ;
  margin-right: 40px;
}

.advantages-section p {
  font-family: inherit;
	font-weight: 400;
	line-height: 24px;
  
  color: #283136;

  margin-bottom: 35px;
}

.advantages-btn {
	width: 160px;
	min-height: 50px;
	border-radius: 3px;
}

/* О нас */

.about-us-section p {
  font-family: inherit;
	font-weight: 400;

  color: #283136;
}

.about-us-section .text-big {
  font-family: inherit;
  font-size: 45px;
  font-weight: 500;
	line-height: 45px;

	margin-bottom: 30px;

  color: #000;
}

.about-us-section .text-bold {
  font-family: inherit;
  font-weight: 700;
	line-height: 24px;

	margin-bottom: 20px;

  text-transform: uppercase;

  color: #000;
}

.about-us-list {
  font-family: inherit;

  list-style: none;

	padding-left: 0;
}

.redline-bullets li {
	background: url("../img/redline.png") no-repeat 0px 10px;
	padding-left: 35px;
	list-style-type: none;
}

.redline-bullets li + li {
	margin-top: 30px;
}

.big-numbers {
  font-family: inherit;
  font-size: 45px;
  font-weight: 700;
	margin-bottom: 50px;
}

.percent {
	vertical-align: super;
}

.second-studio {
  background-image: url(../img/nerds-illustration.png);
	background-position: right 0 top 7px;
  background-repeat: no-repeat;
}

.second-studio-wrapper {
	margin-left: auto;
	width: 370px;
	margin-top: 235px;
}

.second-studio-wrapper .text-bold {
	margin-left: 25px;
	margin-bottom: 37px;
}

/* Секция клиенты */

.clients-section {
	margin-bottom: 35px;

	/* Вертикальные разделители между логотипами */
	background-image: url("../img/vert-div.png"), url("../img/vert-div.png"), url("../img/vert-div.png");
	background-position: left 493px top 12px, left 813px top 12px, left 1113px top 12px;
	background-repeat: no-repeat,no-repeat,no-repeat;
}

.clients-section li {
  list-style: none;
	display: inline-block;
}

.clients-logo {
  opacity: 0.2;
}

.clients-logo:hover {
  opacity: 1;
}

.clients-logo:active {
  opacity: 0.1;
}

/* Контакты */

.contacts-section {
  background-image: url(../img/map.png);
	background-repeat: round no-repeat;
	background-position: center;
	margin-top: 80px;
	width: 100%;
	min-height: 416px;

	display: flex;
	align-items: center;
}

.contacts-container {
  background-color: #fff;
  width: 320px;
	min-height: 310px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-left: 215px;
}

.contacts-section p {
  font-family: inherit;
  font-weight: 400;

  color: #666666;

}

.contacts-section .company-name {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;

  color: #000;

  text-transform: uppercase;

	margin-top: 55px;
	margin-right: 30px;
}

.write-us-btn {
	width: 220px;
	height: 50px;
	border-radius: 3px;
	margin-top: 22px;
}

.address {
	margin-top: 9px;
	line-height: 18px;
	margin-right: 20px;
}

/* Подвал */
.socials {
	margin-top: 35px;
}

.socials-block {
	margin-left: 40px;
	margin-top: 15px;
}

.socials li {
  list-style: none;
	display: inline-block;
}

.socials-item {
  width: 80px;
  height: 80px;

  text-align: center;

  border-radius: 50%;

  background-color: #e1e1e1;
	display: flex;
	justify-content: center;
	align-content: ;
	align-items: center;
}

.socials-item:hover {
  background-color: #e74246;
}

.socials-item:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.socials-item a {
	padding: 27px;
}

.socials-vk {
  content: url(../img/svg/vk-icon.svg);
}

.socials-fb {
  content: url(../img/svg/fb-icon.svg);
}

.socials-inst {
  content: url(../img/svg/insta-icon.svg);
}

.text-be-friend {
  font-family: inherit;
  font-size: 36px;
  font-weight: 700;
	line-height: 36px;

  color: #000;

	margin-bottom: 0;
	margin-top: 40px;
}

.text-discount {
  font-family: inherit;
  font-weight: 400;

  color: #444444;

	margin: 0;
	margin-top: 10px;
}


/* Обратная связь */

.section-write-us {
	width: 960px;
	height: 590px;
	box-shadow: 0px 20px 40px 0px;
	border: 1px solid transparent;
}

.section-write-us fieldset {
  border: none;
}

.section-write-us h2 {
  font-family: inherit;
  font-size: 45px;
  font-weight: 500;
}

.section-write-us label {
  font-family: inherit;
  font-weight: 700;
}

.input {
  width: 360px;
  height: 50px;

  font-family: inherit;
  font-weight: 400;

  border: 2px solid #d7dcde;
}

.letter-input {
  width: 760px;
  height: 118px;
}

.close-button {
  background: transparent;
  border: none;
}


/* Каталог */

.catalog-heading {
	font-family: inherit;
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
	text-align: center;

	padding-top: 57px;
	padding-bottom: 109px;
	margin: 0;

	color: #000;
	background-color: #eee;
}


/* Фильтры */

.filters fieldset {
	border: none;
}

.filters-btn {
  padding: 18px 90px;
  margin-top: 23px;
  margin-left: 14px;
  border-radius: 2px;
}

.price-fieldset legend {
	margin-bottom: 40px;
}

.input-range-div {
	width: 261px;
	height: 81px;

	text-align: center;

	background-color: #eee;

	border-radius: 4px;
}

.price-range {
	/* Обнуление стилей элемента */
	-webkit-appearance: none;

	width: 219px;
	height: 2px;

	background-color: #d7dcde;
}

/* Стилизация для WebKit/Blink */
.price-range::-webkit-slider-thumb {
	-webkit-appearance: none;

	width: 20px;
	height: 22px;
	border: none;

	background-image: url("../img/svg/filter-button.svg");
	background-repeat: no-repeat;
}

/* Стилизация для Firefox */
.price-range::-moz-range-thumb {
	width: 20px;
	height: 22px;
	border: none;

	background-image: url("../img/svg/filter-button.svg");
	background-repeat: no-repeat;
}

.price-range::-moz-range-track {
	background:-moz-linear-gradient(left, #00ca74 0%, #00ca74 75%, #d7dcde 75%, #d7dcde 100%);
}

/* Стилизация для IE */
.price-range::-ms-thumb {
	width: 20px;
	height: 22px;
	border: none;

	background-image: url("../img/svg/filter-button.svg");
	background-repeat: no-repeat;
}

/* Стилизация checkbox */
/* Доступное скрытие "родных" чекбоксов */
.check__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/* Обычное состояние */
.check__box {
	position: absolute;
	width: 27px;
  height: 27px;
  margin-left: -2em;

	/* Инлайн svg для того, чтобы не было проблем с подгрузкой */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='%234D4D4D' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: center center;
}

.check-label {
	padding-left: 2em;
}

/* Состояние checked */
.check__input:checked + .check__box {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath fill='%234D4D4D' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%234D4D4D' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E%0A");
}

/* Состояние focus */
.check__input:focus + .check__box {
	outline: 2px dashed #fb565a;
}


/* Стилизация radio button */
/* Доступное скрытие "родных" radio button */
.radio__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/* Обычное состояние */
.radio__button {
	position: absolute;
	width: 25px;
  height: 25px;
  margin-left: -2em;

	/* Инлайн svg для того, чтобы не было проблем с подгрузкой */
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath fill='%234D4D4D' d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
}

.radio-label {
	padding-left: 2em;
}

/* Состояние checked */
.radio__input:checked + .radio__button {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath fill='%234D4D4D' d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3Ccircle fill='%234D4D4D' cx='12.5' cy='12.5' r='4.5'/%3E%3C/svg%3E%0A");
}

/* Состояние focus */
.radio__input:focus + .radio__button {
	outline: 2px dashed #fb565a;
}


.sort-heading {
	margin: 0;
}

.filters legend,
.sort-heading {
	font-family: inherit;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}

.filters label {
	font-family: inherit;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
}

.filters li {
	list-style: none;
}

.filter-grid {
	margin-top: 43px;
}

.filter-grid ul {
	padding: 0;
	margin-top: 11px;
}

.filter-grid li + li {
	margin-top: 20px;
}

.input-price {
	height: 38px;
	width: 80px;

	text-align: center;

	background-color: #eee;

	border: none;
	border-radius: 2px;
	margin-top: 14px;
	margin-left: 8px;
}

.price-fieldset label + label {
	margin-left: 27px;
}

/* Прячет стрелки на input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.price-fieldset label {
	font-family: inherit;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;

	color: #283136;
	text-transform: uppercase;
}

.features {
  margin-top: 22px;
}

.features ul {
  padding: 0;
}

.features li + li {
  margin-top: 21px;
}

.features ul {
  margin-top: 10px;
}


/* Сортировка */

.section-sort a {
	font-family: inherit;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;

	color: #000;
}
.section-sort li {
	list-style: none;
	display: inline-block;
}

.section-sort-list {
	margin: 0;
	padding: 0;
}

.section-sort-list li + li {
	margin-left: 29px;
}

.section-sort-list li:last-child {
	margin: 5px;
}

.filters-btn {
	color: #000;
	background-color: #eee;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
}

.filters-btn:hover {
	background-color: #dfdfdf;
}

.filters-btn:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #d5d5d5;
}


/* Каталог шаблонов */
.section-catalog ul {
	padding: 0;
}

.section-catalog li {
	list-style: none;
}

.product-heading,
.product-heading a {
	font-family: inherit;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
}

.product-heading:hover,
.product-heading a:hover {
	color: #fb565a;
} 

.product-heading:active,
.product-heading a:active {
	color: #000;
	opacity: 0.3;
} 

.product-description {
	font-family: inherit;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #666666;
}

.catalog-btn {
	font-family: inherit;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;

	color: #000;
	background-color: #eee;
}

.catalog-btn:hover {
	background-color: #dfdfdf;
}

.catalog-btn:active {
	background-color: #d5d5d5;
	color: rgba(0, 0, 0, 0.3);
}

.product::before {
	content: "";
	display: block;
	background-image: url("../img/svg/browser.svg");
	background-repeat: no-repeat;
	width: 360px;
	height: 40px;
}

.buy-button {
  padding: 18px 60px;
  border-radius: 2px;
}

.catalog-btn {
  border-radius: 2px;
  width: 50px;
  height: 50px;
}

.catalog-next-btn {
  width: 260px;
}

/* Сетка */
/* Шапка */

.main-navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	}

.cart {
	margin-left: auto;
  margin-right: 41px;
}

.main-logo {
	margin-right: 200px;
	margin-top: -6px;
}

.user-navigation {
	width: 438px;
	display: flex;
	justify-content: space-between;
}


/* Слайдеры */

.slide-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 413px;
}


/* Преимущества */

.advantages-list {
	display: flex;
	justify-content: space-between;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1160px;
}


/* О нас */

.about-us-section {
	display: flex;
	justify-content: space-between;
	align-items: stretch;

	min-height: 400px;
	margin-top: 30px;
	margin-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
  width: 1160px;
}

.first-studio {
	flex-grow: 6;
}

.first-studio-paragraph {
	line-height: 24px;

	margin-bottom: 40px;
}

.second-studio {
	flex-grow: 4;

	display: flex;
	align-items: stretch;
}

.about-us-list-wrapper {
	display: flex;
	justify-content: space-between;

	padding: 0;
}

.about-us-list-item + .about-us-list-item {
	margin-left: 8px;
}

.about-us-list-item:nth-child(1) {
  margin-left: 7px;
}

/* Клиенты */

.clients-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	margin-left: 70px;
	margin-right: 5px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 1097px;
}

/* Соц. сети */

.socials {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  width: 1240px;
}

.socials-list {
	display: flex;
	justify-content: space-between;
	padding: 0;
}

.socials-list-item + .socials-list-item {
	margin-left: 10px;
}

.socials-text-block {
	margin-left: 140px;
	margin-right: auto;
}

/* Подвал */

.main-footer {
	padding-bottom: 20px;
}


/* Обратная связь */

.write-us-form {
	display: flex;
}

.write-us-fieldset {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0;
	width: 770px;
	height: 430px;
	margin-top: 90px;
	margin-left: auto;
	margin-right: auto;

}

.modal-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal-inputs {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


/* Каталог */

.catalog-container {
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	width: 1190px;
	padding-top: 55px;
}

.catalog {
	width: 760px;
	margin-right: 14px;
}

.section-sort {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 24px;
}

.section-catalog {
	display: flex;
	flex-direction: column;
	margin-top: 38px;
}

.catalog {
	display: flex;
	flex-direction: column;
}

.catalog-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.catalog-list li {
	margin-bottom: 30px;
}

.catalog-buttons {
	display: flex;
	justify-content: space-between;
	width: 445px;
}
